.risultati{/*Span dove vengono rappresentati i risultati 1) e 2)*/
	font-style: italic;
}
table,td,th{
	border:1px solid black;
	border-collapse: collapse;
	background-color: white;
}
tr{
	border:2px solid black;
}
.titolo{/*titoli dei singoli div, ad esempio 1)Test servizio*/
	font-weight: bold;
	font-size: 18px;
}
#principale{/*div che contiene tutto il resto*/
	border: 2px solid gray;
	margin: auto;
	width: 120vh;
	min-height: 80vh;
	background-color:#f0f0f0;
}
