<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css"
		integrity="sha256-D9M5yrVDqFlla7nlELDaYZIpXfFWDytQtiV+TaH6F1I=" crossorigin="anonymous" />
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://kit.fontawesome.com/9c9bf59700.js" crossorigin="anonymous"></script>
</head>

<body class="has-navbar-fixed-top">
	<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="https://www.itiszuccante.edu.it">
				<img src="https://i.imgur.com/NTBaBiL.png" width="32" height="32">
			</a>

			<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
				data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-start">
				<a class="navbar-item" href="/">
					Home <i class="fas fa-home"></i>
				</a>

				<a class="navbar-item" href="https://gitlab.com/fogliodicarta">
					<img src="https://about.gitlab.com/images/press/logo/png/gitlab-logo-gray-stacked-rgb.png" alt="">
					Account Gitlab
				</a>

				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link">
						Altro
					</a>

					<div class="navbar-dropdown">
						<a class="navbar-item" href="https://bulma.io">
							Bulma
						</a>
						<a class="navbar-item" href="https://expressjs.com">
							Express
						</a>
						<hr class="navbar-divider">
						<a class="navbar-item" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
							RickRoll
						</a>
					</div>
				</div>
			</div>

			<div class="navbar-end">
				<div class="navbar-item">
					<div class="field">
						<form action="/creamemo" method="POST" enctype="application/x-www-form-urlencoded">
							<input id="barra" placeholder="Titolo del memo..." class="control" type="text" name="nome"
								maxlength="14">
							<!--<textarea name="nome" id="" cols="30" rows="10"></textarea>-->
							<input class="control button is-warning" type="submit" value="Crea memo">


						</form>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<div class="bigquadrato">
		<% for(i=0;i<lista.length;i++){ %>
		<div class="has-background-warning quadrato">
			<form action="/aggiornamemo" method="POST" enctype="application/x-www-form-urlencoded">
				<div class="sopramemo">
					<p> <strong> <%= lista[i].titolo %> </strong>
						<a href="/deletememo?id=<%=i%>" class="delete has-background-danger">X</a>
						<input class="bottoneaggiorna has-background-success button" type="submit" value="SALVA">
					</p>

				</div>

				<div class="sottomemo">



					<textarea name="testomemo" id="testomemo"
						placeholder="Inserisci testo"><%=lista[i].testo%></textarea>
					<input type="hidden" value="<%= i %>" name="indicememo">


				</div>
			</form>
		</div>
		<% } %>
	</div>
	<!-- 
	  <ul>
	    <% for (i = 0; i < lista.length; i++) { %>
			<li> <%= lista[i] %> </li>
		 <%  }  %>
	  </ul>
	-->
	<!--   <form action="/caricamemo" method="post" enctype="x-www-form-urlencoded">
		<input type="text" name="nome">
		<input type="submit" value="Invio">
	  </form>
<div class="bigquadrato">
	  <div class="has-background-success quadrato"><p>aaa</p></div>
	  <div class="has-background-warning quadrato"><p>bbb</p></div>
	  <div class="has-background-danger quadrato"><p>ccc</p></div>
	  <div class="has-background-success quadrato"><p>aaa</p></div>
	  <div class="has-background-warning quadrato"><p>bbb</p></div>
	  <div class="has-background-danger quadrato"><p>ccc</p></div>
	  </div>
	-->
</body>

</html>