/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9-mag-2019, 22.56.45
    Author     : Matteo
*/
.chart-symbol{ 
    -fx-stroke: #a9e200;
    -fx-shape: "M2,2 L5,8 L8,2";
    -fx-background-color: orange;
}
.text-area{
    -fx-font-size: 20px;
}