<html>
    <head>

        <meta charset="UTF-8"> 
        <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <script src="/js/script.js"> </script>
	<style>
	   div{
		border-radius:5px;
		background-color:red;
	   }	
	
	</style>
    </head>
    <body>
        <div>
            <p id="richiesta1"> <h1>Scegli il reclamo</h1></p>
            <form id="ilform" action="/altro" method="POST">
                <select id="selettore" name="reclamo" >
                    <option value="0">Smarrimento</option>
                    <option value="1">Danneggiamento</option>
                    <option value="2">Non conformità</option>
                    <option value="3">Altro</option>
                </select>
                <p id="richiesta2">Inserisci la data di ordine del prodotto</p>
                <input id="data" class="" type="date"><br>
                <div id="sino" class="nascosto">
                    <input id='si'type="radio" name="compromette" value="si">Sì<br>
                    <input id='no'type="radio" name="compromette" value="no">No<br>
                </div>
                

                <textarea id="prompt" class="nascosto" name="prompt" cols="30" rows="10"></textarea>
                <input type="submit" id="bottone" class="nascosto" value="invia"><br>
                <p id="risposta" class="nascosto">aaa</p>
            </form>
        </div>
    </body>
</html>
