.main-tile{
  width:30px;
  height:30px;
  border-collapse: collapse;
  border : solid hsl(0, 0%, 75%);
  margin: 0;
  line-height: 14px;
  color: #003b00;
}
.scacchiera{
  margin: 10px auto 0px auto;
  border: 5px solid hsl(0, 0%, 75%);
  font-size: 13px;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
}
.colori{
  width:50px;
  height:50px;
  border-collapse: collapse;
  margin: 0;
}
.screen{
  margin: auto;
  text-align: center;
  font-weight:390;
  font-size: 40px;
  padding-top: 15px;
  filter: brightness(80%);
}
.navbar{
  height: 80px;
  font-size: 50px;
}
.hero{
  background-image: url("rubik.png");
}
.navbar{
 background-color: rgba(10, 10 , 10, 0.97)!important;
}
.navbar-item{
  background-image: url("rubik.png");
	background-size: cover;
	color: #000;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.diff:hover,.tema:hover{
  font-size: 70px;
  border: 5px dashed white;
  border-radius: 25px;
}
#ricarica{
  cursor: pointer;
}
